:root {
  --main-color: #072d69;
  --secondary-color: #feea37;
  --neutral-color: #f5f5f5;
  --neutral-color-2: #afc3f4;
  --font: "Nunito";
}

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.page {
  margin-left: 240px;
}

.jobsGrid {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}